* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.42857143;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 25px;
}

ul {
    list-style-type: none;
}
